{% if site.show_header %}

<div class="blog-header">
  <h1 class="blog-title">{{site.title}}</h1>
  <p class="lead blog-description">{{site.description}}</p>
</div>

{% endif %}

<div class="row">
  <section class="col-sm-8">
    {% for post in site.posts %}
      <article>
        <header>

          <h2 class="blog-post-title">
            <a href="{{ post.url | prepend: site.baseurl }}">
              {{ post.title }}
            </a>
          </h2>

          <p class="blog-post-meta">
            <time datetime="{{ post.date | date_to_xmlschema }}">
            <span class="day">
                {{ post.date | date: "%-d" }}
            </span>
            <span class="month-year">
                {{ post.date | date: "%b %Y" }}
            </span>
            </time>
          </p>
        </header>

        <section>
          <p>{{ post.content | strip_html | truncatewords:40 }}</p>
        </section>

        {% for category in post.categories %}
          <a href="{{ site.baseurl }}/categories/#{{ post.categories | cgi_encode }}" title="Other posts from the {{ tag | capitalize }} category">{{ category |
          capitalize }}</a>
          {% unless forloop.last %}&nbsp;{% endunless %}
        {% endfor %}

      </article>
    {% endfor %}
  </section>

  <aside class="col-sm-4">

  </aside>
</div>
